.voice-box {
    position: fixed;
    display: none;
    width: 100%;
    top: -50;
    text-align: center;
    z-index: 1000;
    transition: .5s ease-out;
    span {
        background: #eee;
        display: inline-block; 
        letter-spacing: 0.6px;
        text-align: center;
        padding: 10px 25px 13px;
        color: rgba(51, 51, 51, 0.8);
        border-radius: 0 0 3px 3px;
        font-size: 14px;
        font-weight: 500;
    }
    &.success {
        top: 0;
        display: block;

        span {
            border: solid 1px #2bd205;
            background-color: #d9f7d2;
            border-top: none;
        }
    }
    &.warning {
        top: 0;
        display: block;

        span {
            border: solid 1px #ff9d00;
            background-color: #ffedd1;
            border-top: none;
        }
    }
    &.error {
        top: 0;
        display: block;

        span {
            border: solid 1px #ff0507;
            background-color: #ffd1d1;
            border-top: none;
        }
    }
}