
$mainFont: 'lato', HelveticaNeue !important;

$mainColor: #00ADE4;

$buttonColor: #00ADE4;

$buttonFocus: #23b9fc;

$fontColor: #333;

$whiteColor: #fff;

$errorColor: #EE7666;

$borderColor: rgba(151, 151, 151, 0.2);

